<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ublox.BLE">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="TempBLE"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.BluetoothLeService"
            android:enabled="true" />

        <activity
            android:name=".activities.AboutActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DevicesActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DeviceControlActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Activity_Query"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Activity_Read"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Activity_Settings"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.Activity_Parameter"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        />
        <activity
            android:name=".activities.Activity_Graph"
            android:label="@string/title_activity_graph"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>